{% extends 'layout.html' %}

{% block css %}
    {{ block.super }}
    {% load staticfiles %}
    <link href="{% static "css/signin.css" %}" rel="stylesheet">
{% endblock %}

{% block top-menu %}
{% endblock %}

{% block body %}

      <form class="form-signin" role="form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% if msg|length > 0 %}
        <div class="alert alert-danger">{{ msg }}</div>
        {% endif %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        {% comment %}
          <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        {% endcomment %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

{% endblock %}

